VITE_APP_NAME=CR-Mentor
VITE_API_URL=https://mock-service.tinsfox.com
VITE_ENABLE_DEVTOOLS=false
VITE_EDITOR=cursor

VITE_GITHUB_SERVER_API=http://localhost:3000
VITE_CLERK_PUBLISHABLE_KEY=pk_test_aG9uZ***tODMuY2xlcmsuYWNjb3VudHMuZGV2JA